canvas
    display: none

#photo
    width: 640px
    height: auto

.main-wrapper
    @media (max-width: 599px)
        height: calc(100% - 56px)
    @media (min-width: 600px)
        height: calc(100% - 64px)

